In [1]:
import pandas as pd

In [5]:
import nltk
nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\iHASSAN\AppData\Roaming\nltk_data...

True

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [7]:
tweet_data = pd.read_csv('Data/task1.csv', error_bad_lines = False)
tweet_data

                                                    text
0       oh Marly, I`m so sorry!!  I hope you find her...
1      Playing Ghost Online is really interesting. Th...
2      is cleaning the house for her family who is co...
3      gotta restart my computer .. I thought Win7 wa...
4      SEe waT I Mean bOuT FoLL0w fRiiDaYs... It`S cA...
...                                                  ...
27442   LIKE DREW SAID 'GIVE TC A CHANCE' WE WILL MIS...
27443  rec game....trying not to cry...the pain is to...
27444   Sure. I`ll try n keep that up! =P You enjoy s...
27445   Naw.. it was pretty tame. Only 1 guy in costu...
27446  morning twit-friends! welcome to my new followers

[27447 rows x 1 columns]

In [18]:
#load VADER
analyzer = SentimentIntensityAnalyzer()

#Add VADER metrics to dataframe
tweet_data['compound'] = [analyzer.polarity_scores(v)['compound'] for v in tweet_data['text']]

tweet_data.head(3)

                                                text  compound
0   oh Marly, I`m so sorry!!  I hope you find her...    0.8557
1  Playing Ghost Online is really interesting. Th...    0.3597
2  is cleaning the house for her family who is co...    0.0000

In [30]:
tweet_data.loc[tweet_data['compound'] >= 0.05, 'sentiment'] = 'Pos' 
tweet_data.loc[tweet_data['compound'] <= -0.05, 'sentiment'] = 'Neg'
tweet_data.loc[(tweet_data['compound'] > -0.05) & (tweet_data['compound'] < 0.05),'sentiment'] = 'Neu'
tweet_data.tail(3)

                                                    text  compound sentiment
27444   Sure. I`ll try n keep that up! =P You enjoy s...    0.8449       Pos
27445   Naw.. it was pretty tame. Only 1 guy in costu...    0.0258       Neu
27446  morning twit-friends! welcome to my new followers    0.5093       Pos

# Now a function that takes in a tweet, and give out the sentiment analysis

In [43]:
def get_sentiment(sentence):
    sentiment_score = analyzer.polarity_scores(sentence)
    positive_meter = round((sentiment_score['pos'] * 10), 2)
    negative_meter = round((sentiment_score['neg'] * 10), 2)
    neutral_meter = round((sentiment_score['neu'] * 10), 2)
    return positive_meter, negative_meter, neutral_meter

In [44]:
sentence = str(input("Type tweet then hit Enter: "))

Type tweet then hit Enter:I had lunch today

In [45]:
positive_meter, negative_meter, neutral_meter = get_sentiment(sentence)
print("Positive", positive_meter)
print("Negative", negative_meter)
print("Neutral", neutral_meter)

Positive 0.0
Negative 0.0
Neutral 10.0